body {
    width: 100%;
    height: 100vh; /* Set height to 100% of the viewport height */
    background-color: hsl(275, 100%, 97%);
    font-family: 'Work Sans', sans-serif;
    color: hsl(292, 42%, 14%);
    margin: 0;
  }
  
  .backg {
    width: 100%;
    height: 40vh;
    background-image: url(background-pattern-desktop.svg);}
h1{
    font-weight: 700px;
    font-size: 35px;
    color: hsl(292, 42%, 14%);
}
.main-parent-container {
    width: 100%;
    height: auto;
}
p.question {
    text-align: left;
}

.child-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    max-width: 450px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 19px 28px rgba(0, 0, 0, 0.2);
  }
  .parent-container {
    position: relative; /* Ensure child-container is positioned relative to this container */
    width: 100%;
    height: 100vh; /* Or specify a fixed height */
  }
.question-contain {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap:6px;
    cursor: pointer;
}
.answer{
font-weight: 400;
}
.question{
    font-weight: 600;
}

.question-contain .question:hover{
    color:  #AD28EB
}
.answer-contain{
max-height: 0;
}
      .faq-heading{
        display: flex;
        flex-direction: row;
        text-align: center;
        gap: 20px;
        align-items: center;
      }
      .containt {
        text-align: left;
        overflow: hidden;
        border-bottom: 0.1px gray solid;
    }
    .containt:last-child{
        border: none;
    }
    .star-icon img{
        width: 70%;
    }
.active{
    /* Style for active answer */
    max-height: 1000px; /* Adjust this value to your preference */
    transition: max-height 0.5s ease; /* Add smooth transition effect */
  }
  .answer-contain {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease; /* Add smooth transition effect */
  }
  
@media(max-width:540px){
    .main-parent-container{
        width: 100%;
        height: auto;
        background-image: url(background-pattern-mobile.svg);
        background-size: 150%;
    }  
    .child-container{
        width: 100%;
        height: auto;
        padding: 1px 20px;
        background:white;
        width:75% ;
        height: auto;
        padding: 20px;
        text-align: center;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0px 19px 28px rgba(0, 0, 0, 0.2);
    }    
    .backg {
        width: 100%;
        height: 30vh;}
}